{% extends 'base.html' %}
{% block content %}
<header class="masthead bg-index text-white text-center py-4">
  <div class="container d-flex align-items-center flex-column pt-2">
    <h1>Movies Store</h1>
    <p>Your Ticket to Unlimited Entertainment!</p>
  </div>
</header>
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col mx-auto text-center mb-3 d-flex justify-content-center align-items-center">
        <h4 style="font-size: 2em;">Welcome to the best movie store!!</h4>
      </div>
      <div class="col mx-auto mb-3">
        <p style="font-size: 1.25em;">GT Movies Store is your go-to online destination for discovering and purchasing the movies you love. Our platform is designed to make your movie-buying experience simple, informative, and enjoyable. Whether you're a casual viewer or a dedicated film enthusiast, you'll find a wide selection of movies across genres, complete with detailed descriptions, prices, and high-quality images to help you make the right choice.</p>
        <p style="font-size: 1.25em;">But we’re more than just a movie store. GT Movies Store also gives users the ability to engage with the movie community through reviews. You can create, edit, and delete your own reviews, or browse feedback from other users to help guide your next purchase.</p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}